.about-info img {
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}
.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-info p {
    font-size: 19px;
    padding: 35px;
    text-align: center;
}